body,
html {
  font-family: "Inter", sans-serif;
  margin: 0;
}
img {
  width: 100%;
}
header {
  height: auto;
  background-color: #4b0058;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.search .logo {
  width: 200px;
}
.search .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.search .form input {
  height: 40px;
  border-radius: 14px;
  border: none;
  width: 530px;
  padding: 20px;
  box-sizing: border-box;
}
.search .social ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  height: 30px;
  margin: 0;
  padding: 0;
}
.search .social ul li:first-child {
  padding: 0 10px;
}
.nav {
  padding: 10px 0;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul li {
  text-align: center;
}
.nav ul li a {
  color: white;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: underline;
}
main {
  height: auto;
}
.container {
  width: 95%;
  max-width: 1220px;
  margin: 0 auto;
  height: inherit;
  min-height: inherit;
}
footer {
  min-height: 368px;
  background-color: #7525a7;
}
footer .container {
  display: flex;
  flex-direction: column;
}
.columns-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.product-images-block,
.product-description-block,
.product-checkout-block {
  flex: 1;
  padding: 20px 0;
}
.product-description-block .title {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  word-wrap: break-word;
}
.product-description-block .selector fieldset {
  border: 2px gray solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  border-radius: 15px;
  font-size: 15px;
  padding: 5px 11px;
}
.product-description-block .selector fieldset select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.product-description-block .description p {
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  word-wrap: break-word;
}
.sales-block {
  padding: 20px 0;
}
.columns-container .col ul {
  list-style-type: none;
  padding: 0;
}
.columns-container .col ul li {
  padding: 5px 0;
}
.columns-container .col ul li.col-main-item {
  font-weight: bold;
  padding-bottom: 20px;
}
.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}
.copyright {
  border-top: 1px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}
/* Para laptops */
@media (max-width: 1025px) {
  .search .form input {
    width: 430px;
  }
}
/* Para tablet */
@media (max-width: 769px) {
  .search .logo {
    width: 150px;
  }
  .search .form input {
    width: 250px;
  }
}
/* Para celular */
@media (max-width: 426px) {
  .search {
    flex-wrap: wrap;
    padding: 10px 0;
  }

  .search .logo {
    width: 100%;
    text-align: center;
  }

  .search .logo img {
    width: 150px;
  }

  .search .form input {
    width: 200px;
  }
}
